.music__songWrapper {
  margin-top: 40px;
}

.spinnerWrapper {
  height: 300px;
}

.music__loadMore {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  margin-top: 20px;
}

.music__spinnerBtn {
  object-fit: contain;
  height: 35px;
  width: 35px;
}
